<ol id="posts">
  <% @posts.each do |post| %>
    <li class="post">
      <div><%= link_to post.title, post.url %></div>
      <div>
        <%= link_to "#{post.comments.count} comments", post_path(post) %>
        <% if post.user == current_user %>
          | <%= link_to "Edit", edit_post_path(post) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
