<ul>
  <% @posts.each_with_index do |post, index| %>
    <li>
      <div><%= index + 1 %>. <%= link_to post.title, post.url %></div>
      <div><%= link_to "Comment on post", post_path(post) %></div>
    </li>
  <% end %>
</ul>
