* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #007aff;
  color: #fff;
  padding: 10px;
  width: 100%;

  h1 {
    display: inline-block;
    width: 49%;
    font-size: 1.5em;
  }

  a {
    color: #fff;
  }

  ul {
    display: inline-block;
    padding: 0;
    width: 49%;
    text-align: right;

    li {
      display: inline-block;
      padding: 5px;
    }
  }
}

main {
  padding: 20px;
  background-color: #dfdbdb;
  min-height: 500px;

  h2, h3, form, ul, p {
    margin: 10px 0;
  }

  a {
    color: #000;
  }
}
