// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  padding: 0 20px
}

.post {
  padding: 5px;
  margin-bottom: 5px;
  color: #555;
}

#showpost {
  form {
    textarea {
      width: 400px;
      height: 100px;
    }
  }
}

#comments {
  list-style: square;
  padding: 0 20px;

  .comment {
    padding: 10px;
  }
}
